.input {
  margin: 0 auto;
  display: flex;
  margin-bottom: 50px;
}
.country {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 500px;
  background-color: red;
  .item {
    align-items: center;
    width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    // .text {
    //   position: absolute;
    //   bottom: 0;
    //   // margin-top: 10px;
    // }
  }
  //   opacity: 0.6;
  // width: 1280px;
  //   background-color: blue;
  // transform: translateX(50%);
  // transition: opacity 5s ease-in-out, transform 2.5s ease-in-out;
}

.country.show {
  opacity: 1;
  transform: translateX(0%);
}
.container {
  display: flex;

  justify-content: center;
  // align-items: ;
  .name {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    width: 500px;
    background-color: red;
  }
}

.input {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.item {
  display: flex;
  flex-wrap: wrap;
  // background-color: red;
  justify-content: space-around;
  .item1 {
    // text-align: center;
    width: 300px;
    border: 2px solid red;
  }
}
